@media only screen and (max-width:1200px) {
	
	.header{
		
		display:flex;
		flex-direction: column;
	}
	
	.logo {
	margin-left:20px;
	}
	.navbar {
		margin-right:5px;
		padding-right:30px;
	}
	
	.container {
		width:100vw;
		display: flex;
		justify-content: space-evenly;
	}
	
	.hero-text {
		width:100%;
		display:flex;
		flex-direction: column;
		margin-left:20px;
	}
	
	button {
		width:220px;
	}
	.sisu {
		width:100vw;
	}
	
	.mission {
		width:100vw;
		flex-direction:column;
	}
	
	.mission-p{
		margin-left:0;
		margin-right:10px;
	}
	.mission-text {
		width:100%;
		text-align: center;
		margin-left:0;
		padding-left:0;
	}
}


@media only screen and (max-width:1023px) {
	
	.hero-text {
		text-align: center;
	}
	.mission-text{
		width:100vw;
		margin-right: 120px;
		margin-top: 160px;

	}

	.mission img{
		width: 450px;
		height: 450px;
		padding-right: 60px;
	}

	.navbar li{
		padding-right: 120px;
	}
	
	
}


@media only screen and (max-width:767px) {
	.logo{
	font-size: 20px;}
	
	.our-cheese {
	display: flex;
	flex-direction:column;
	margin:10px;
	}
	
	.tours {
	display: flex;
	flex-direction:column;
	margin-left: 10px;
	}
	
	.tour-text {
		margin-bottom:20px;
		margin-left:10px;
	}
	
}


@media only screen and (max-width:480px) {
	.sisu{
		justify-content: column;
	}
	
	
}